version: '3'

services:
 ner2:
  build: "./NER"
  restart: always
  volumes:
   - ./NER:/apps/ner
   - ./model:/model
  entrypoint: /apps/ner/docker-entry.sh 

 ocr2:
  build: "./OCR"
  restart: always
  volumes:
   - ./OCR:/apps/ocr
   - ./model:/model
  ports:
   - 8090:8090
  entrypoint: /apps/ocr/docker-entry.sh
